.sessaoContato{
    background-color: #05031b;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4rem 0;
}

.containerContato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.containerContato ul{
    list-style: none;
}

@media screen and (min-width: 320px) and (max-width:500px){
    .sessaoContato p{
        font-size: 0.8rem;
        text-align: center;

        padding: 1rem 0;
    }
    
    .containerContato{
        grid-template-columns: 1fr;
    }

    .containerContato h4,ul{
        text-align: center;
    }
}